absl-py==0.12.0
datasets==1.5.0
ipykernel==5.3.4
ipython==7.16.1
ipywidgets==7.5.1
jax==0.2.11
jaxlib==0.1.64
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
maturin==0.9.4
ml-collections==0.1.0
notebook==6.1.4
sentencepiece==0.1.95
scikit-learn==0.23.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
tqdm==4.49.0
transformers==4.5.1
widgetsnbextension==3.5.1
